.takeQuiz {
    display: none;


    width: 30rem;
    height: 5rem;
    background-color: $color-primary;
    color: $color-tertiary;
    font-size: 1.5rem;
    z-index: 800 !important;
    text-decoration: none;
    position: fixed;
    padding: 1rem;
    text-align: center;
    opacity: 1;
    bottom: 6rem;
    right: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    transform: translateX(31rem);
    @include transitions;

    animation: showQuizButton 10s ease-in 1;
}

