/* ---- G E N E R A L   S O C I A L   I C O N S ---- */
/* Facebook */
.facebook-icon {
    background-image: url(../../assets/img/Icons-social-media/facebook.svg);
}

/* Instagram */
.instagram-icon {
    background-image: url(../../assets/img/Icons-social-media/instagram.svg);
}

/* Skype */
.skype-icon {
    background-image: url(../../assets/img/Icons-social-media/skype-logo.svg);
}

/* Mail */
.mail-icon {
    background-image: url(../../assets/img/Icons-social-media/mail.svg);
}

/* LinkedIn */
.linkedin-icon {
    background-image: url(../../assets/img/Icons-social-media/linkedin.svg);
}

/* LinkedIn */
.whatsapp-icon {
    background-image: url(../../assets/img/Icons-social-media/whatsapp.svg);
}

.icon-social {
    background-size: 50% !important;
}