/* ==================================
//////////// Family-fonts ///////////
================================== */
/* ---- Seravek ---- 
@font-face {
  font-family: "AbearByKai";
  src: url('../fonts/abeatbyKai.otf') format('opentype');
} */

/* ---- Seravek ---- 
@font-face {
  font-family: "Centhury-gothic-bold";
  src: url('../fonts/centuryGothicBold.otf') format('opentype');
}*/

body {
  font-family: "Avenir Book", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  font-family: 'Avenir Book', sans-serif;
  font-size: 6.5rem;
  letter-spacing: 2vw;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: 8rem;
  }

  @include respond(phone) {
    font-size: 5rem;
  }
}

.heading-secondary {

}

