/* ==================================
//////////// Family-fonts ///////////
================================== */
/* ---- Seravek ---- 
@font-face {
  font-family: "AbearByKai";
  src: url('../fonts/abeatbyKai.otf') format('opentype');
} */

/* ---- Seravek ---- 
@font-face {
  font-family: "Centhury-gothic-bold";
  src: url('../fonts/centuryGothicBold.otf') format('opentype');
}*/

/* ---- Acumin Pro R */
@font-face {
  font-family: "Acumin Pro R";
  src: url('../fonts/Acumin-RPro.woff') format('opentype');
}

/* ---- Avenir Book */
@font-face {
  font-family: "Avenir Book";
  src: url('../fonts/Avenir-Book.ttf') format('opentype');
}

/* ---- Avenir Book 45 */
@font-face {
  font-family: "Avenir LT 45";
  src: url('../fonts/Avenir_LT_45_Book.tt') format('opentype');
}

/* ---- Avenir Roman */
@font-face {
  font-family: "Avenir Roman";
  src: url('../fonts/AvenirLTStd-Heavy.otf') format('opentype');
}

/* ---- Helvetica Neue Thin  */
@font-face {
  font-family: "Helvetica Neue Thin";
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
}

/* G E N E R A L */
body {
  font-family: "Avenir Book", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-black;
}

.heading-primary {
  font-family: 'Avenir Book', sans-serif;
  font-size: 6.5rem;
  letter-spacing: 2vw;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: 8rem;
  }

  @include respond(phone) {
    font-size: 5rem;
  }
}

.heading-secondary {

}

