@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Logo Home */
@mixin homeLogo {
    width: 25%;
}

/* Icons Size */
@mixin iconSize {
    width: 5.8rem;
    height: 5.8rem;

    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

/* Description text Size */
@mixin textSize {
    font-size: 2rem;
    line-height: 3rem;

    /* Large Desktop 1366 * 768 */
    @include respond(large-desktop) {
        font-size: 1.5rem;
        line-height: 2.5rem; 
    }
}

/* Box shadow */
@mixin boxShadow {
    -webkit-box-shadow: -3px 3px 2px 1px rgba(45, 44, 47, 0.4);
    -moz-box-shadow: -3px 3px 2px 1px rgba(45, 44, 47, 0.4);
    box-shadow: -3px 3px 2px 1px rgba(45, 44, 47, 0.4);
}

@mixin boxShadowLighter {
    -webkit-box-shadow: -3px 3px 1.5px 1px rgba(233, 233, 233, 0.4);
    -moz-box-shadow: -3px 3px 1.5px 1px rgba(233, 233, 233, 0.4);
    box-shadow: -3px 3px 1.5px 1px rgba(233, 233, 233, 0.4);
}


@mixin boxShadowKi {
    -webkit-box-shadow: 0px 4px 1.5px 0px rgba(233, 233, 233, 0.4);
    -moz-box-shadow: 0px 4px 1.5px 0px rgba(233, 233, 233, 0.4);
    box-shadow: 0px 4px 1.5px 0px rgba(233, 233, 233, 0.4);
}


@mixin boxShadowKiP {
    -webkit-box-shadow: 1rem 1rem 0px 0px $color-tertiary;
    -moz-box-shadow: 1rem 1rem 0px 0px $color-tertiary;
    box-shadow: 1rem 1rem 0px 0px $color-tertiary;
}

@mixin boxShadowDelete {
    -webkit-box-shadow: -0px 0px 0px 0px rgba(45, 44, 47, 0.4);
    -moz-box-shadow: -0px 0px 0px 0px rgba(45, 44, 47, 0.4);
    box-shadow: -0px 0px 0px 0px rgba(45, 44, 47, 0.4);
}

@mixin transitions {
    /* Transitions */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Layout logo position */
@mixin logoPosition {
    left: 0;
    bottom: 0;
    transform: translate(8%, -30%);

    @include respond(tab-port) {
        width: 45%;
    }

    @include respond(phone) {
        width: 55%;
        transform: translate(8%, -60%);
    }
}

/* Fix tilde weird behavior */
@mixin fixTilde {
    font-size: 2.2rem;
    font-weight: 300;
}

/* Margin Heading top */
@mixin topHeading {
    margin-top: 5rem;
}

/* L I N G U I S T I C   M I X I N */
@mixin titleLi {
    font-size: 4.5rem;
    color: $color-secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Avenir Roman';
    font-weight: 600;

    /* Large Desktop 1366 * 768 */
    @include respond(large-desktop) {
        font-size: 4rem;   
    }

    /* Medium Desktop 1300 */ 
    @include respond(medium-desktop) {
        font-size: 3.5rem;  
    }

}

@mixin socialLinkLi {
    text-align: center;
    text-decoration: none;
    color: $color-tertiary;
    background-color: $color-secondary;
    font-size: 2rem;

    @include transitions;

    &:hover {
        background-color: $color-primary;
    }

     /* Large Desktop 1366 * 768 */
     @include respond(large-desktop) {
        font-size: 1.3rem;     
    }
}


/*************** M E D I A  Q U E R I E S ****************/
@mixin respond($breakpoint) {

    @if $breakpoint==full-desktop {
        @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) {
            @content
        }

        ; //1920px
    }

    @if $breakpoint==macbook-pro-15 {
        @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 75em) {
            @content
        }

        ; //1920px
    }

    @if $breakpoint==large-desktop {
        @media only screen and (max-width: 85.375em) {
            @content
        }

        ; //1366px * 768
    }

    @if $breakpoint==medium-desktop {
        @media only screen and (max-width: 81.25em) {
            @content
        }

        ; //1300px 
    }

    @if $breakpoint==desktop {
        @media only screen and (max-width: 73.75em) {
            @content
        }

        ; //1180px * 780
    }

    @if $breakpoint==ipad {

        @media only screen and (max-width: 50em)  and  (hover: none) {
            @content
        }

        ; //800
    }

    @if $breakpoint==ipad-pro {
        @media only screen and (max-width: 64em), (min-height: 85.375em) and  (hover: none) {
            @content
        }

        ; //1024px
    }

    @if $breakpoint==ipad-landscape {
        @media only screen and (min-width: 64em), (min-height: 48em) and  (hover: none)  {
            @content
        }

        ; //800
    }

    @if $breakpoint==ipad-pro-landscape {
        @media only screen and (min-width: 85.375em), (min-height: 64em) and (hover: none)  {
            @content
        }

        ; //1024px
    }

    @if $breakpoint==iphone-plus {
        @media only screen and (max-width: 31.25em) and  (hover: none)  {
            @content
        }

        ; //500px
    }

    @if $breakpoint==iphone {
        @media only screen and (max-width: 25em) and (hover: none) {
            @content
        }

        ; //400px
    }

    @if $breakpoint==iphone-se {
        @media only screen and (max-width: 20em) and (hover: none) {
            @content
        }

        ; //400px
    }

    @if $breakpoint==iphone-x {
        @media only screen and (max-width: 23.4375em), (min-height: 50.75em) and  (hover: none)  {
            @content
        }

        ; //375px
    }

    /*

    @if $breakpoint == iphone-x {
        @media only screen and (max-width: 24em) and (min-height: 50em) {@content}; //600px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }

    @if $breakpoint == md-desktop {
        @media only screen and (max-width: 85.3em) { @content };    //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
    */
}