@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transitions {
    /* Transitions */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Layout logo position */
@mixin logoPosition {
    left: 0;
    bottom: 0;
    transform: translate(8%, -30%);

    @include respond(tab-port) {
        width: 45%;
    }

    @include respond(phone) {
        width: 55%;
        transform: translate(8%, -60%);
    }
}

/* Fix tilde weird behavior */
@mixin fixTilde {
    font-size: 2.2rem;
    font-weight: 300;
}

/* Margin Heading top */
@mixin topHeading {
    margin-top: 5rem;
}


/*************** M E D I A  Q U E R I E S ****************/
@mixin respond($breakpoint) {

    @if $breakpoint == full-desktop {
        @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 67.5em) { @content };    //1920px
    }

    @if $breakpoint == macbook-pro-15 {
        @media only screen and (max-width: 120em) and (min-width: 120em) and (min-height: 75em) { @content };    //1920px
    }

    @if $breakpoint == large-desktop {
        @media only screen and (max-width: 85.375em) { @content };    //1366px * 768
    }

    @if $breakpoint == medium-desktop {
        @media only screen and (max-width: 81.25em) { @content };    //1300px 
    }

    @if $breakpoint == desktop {
        @media only screen and (max-width: 73.75em) { @content };     //1180px * 780
    }

    @if $breakpoint == ipad {
        @media only screen and (max-width: 50em), only screen and (hover: none) { @content };    //800
    }

    @if $breakpoint == ipad-pro {
        @media only screen and (max-width: 64em) and (min-height: 85.375em) { @content };    //1024px
    }

    @if $breakpoint == ipad-landscape {
        @media only screen and (min-width: 64em) and (min-height: 48em) { @content };    //800
    }

    @if $breakpoint == ipad-pro-landscape {
        @media only screen and (min-width: 85.375em) and (min-height: 64em) { @content };    //1024px
    }

    @if $breakpoint == iphone-plus {
        @media only screen and (max-width: 31.25em) { @content };    //500px
    }

    @if $breakpoint == iphone {
        @media only screen and (max-width: 25em) { @content };    //400px
    }

    @if $breakpoint == iphone-se {
        @media only screen and (max-width: 20em) { @content };    //400px
    }

    @if $breakpoint == iphone-x {
    @media only screen and (max-width: 23.4375em) and  (min-height: 50.75em) { @content }; //375px
  }/*

    @if $breakpoint == iphone-x {
        @media only screen and (max-width: 24em) and (min-height: 50em) {@content}; //600px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }

    @if $breakpoint == md-desktop {
        @media only screen and (max-width: 85.3em) { @content };    //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
    */
}
