<div class="topBar"></div> 

<p class="pageTitle pageTitle-resposive">
    <span> < P O R T F O L I<span class="red-letter"> O </span>/ ></span>
  </p>
  <div class="portafolio__vs">
    <!-- Services li -->
    <div class="portafolio__vs-content" ng-init="accordion=1">
      <!-- li-content -->
      <div class="vs-acc">
        <!-- li-acc -->
        <h3 class="accordion" ng-class="{active:accordion==1}">
          <!-- Accordion -->
          <a class="title-vs" ng-class="{active:accordion==1}" ng-click="accordion = 1"><small>01</small></a>
        </h3>
        <!-- ./Accordion -->
        <div class="accordion-content fade" ng-show="accordion==1"> <!-- accordion-content -->
          <div class="tab-container"> <!-- tab-container -->
            <div class="accordion-cover">
                <img src="assets/img/portafolio/01.png" alt="industrial mueblera">
                <!-- project-title -->
                <h3>industrial mueblera</h3>
            </div>
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="project-content"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      This is one of my favorite projects and a perfect example 
                      of a personalized website. This project was made for an old 
                      school businessman and after our first meet, we agree to 
                      renovate the whole branding of the company.  Christian Soto 
                      worked by my side in the logo's update and he made a fantastic job. 
                      I designed and code from scratch the new elegant and minimalistic 
                      Industrial Mueblera's website. 
                  </p>
                  <a target="_blank" href="http://industrialmueblera.com.mx/" class="action-btn"><span>––––––––––––––––– </span> TAKE A LOOK <span> –––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div> <!-- ./accordion-content -->
      </div>
      <!-- ./li-acc -->
  
      <div class="vs-acc">
        <!-- li-acc -->
        <h3 class="accordion" ng-class="{active:accordion==2}">
          <!-- Accordion -->
          <a class="title-vs" ng-class="{active:accordion==2}" ng-click="accordion = 2">02</a>
        </h3>
        <!-- ./Accordion -->
        <div class="accordion-content fade" ng-show="accordion==2"> <!-- accordion-content -->
          <div class="tab-container"> <!-- tab-container -->
            <div class="accordion-cover">
                <img src="assets/img/portafolio/02.png" alt="landscape mexico">
                <!-- project-title -->
                <h3>landscape méxico</h3>
            </div>
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="project-content"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      The instruction was clear; the client wanted something simple but classy. 
                      He came to me with just an idea because the company itself was just starting. 
                      He just had a name and a concept. So I contact Chrystian Soto to helped me create 
                      a fancy logo and after we defined de colors and the basic branding, I started the 
                      design and code of a single page website. 
                  </p>
                  <a target="_blank" href="http://landscapemexico.com.mx/" class="action-btn"><span>––––––––––––––––– </span> TAKE A LOOK <span> –––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div> <!-- ./accordion-content -->
      </div>
      <!-- ./li-acc -->

      <div class="vs-acc">
        <!-- li-acc -->
        <h3 class="accordion" ng-class="{active:accordion==3}">
          <!-- Accordion -->
          <a class="title-vs" ng-class="{active:accordion==3}" ng-click="accordion = 3">03</a>
        </h3>
        <!-- ./Accordion -->
        <div class="accordion-content fade" ng-show="accordion==3"> <!-- accordion-content -->
          <div class="tab-container"> <!-- tab-container -->
            <div class="accordion-cover">
                <img src="assets/img/portafolio/03.png" alt="restaurante el espanol">
                <!-- project-title -->
                <h3>Restaurante El Español</h3>
            </div>
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="project-content"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      The owner of the restaurant came with a specific need. He wanted that 
                      their clients could check the restaurant’s menu anytime. So I made a design 
                      in base of the restaurant’s branding and implement some SEO to make it more 
                      findable on google’s engines search. He was thrilled so with all the stuff 
                      you can do with Google AdWords. 
                  </p>
                  <a target="_blank" href="https://espanolrestaurante.com/" class="action-btn"><span>––––––––––––––––– </span> TAKE A LOOK <span> –––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div> <!-- ./accordion-content -->
      </div>
      <!-- ./li-acc -->

      <div class="vs-acc">
        <!-- li-acc -->
        <h3 class="accordion" ng-class="{active:accordion==4}">
          <!-- Accordion -->
          <a class="title-vs" ng-class="{active:accordion==4}" ng-click="accordion = 4"><small>04</small></a>
        </h3>
        <!-- ./Accordion -->
        <div class="accordion-content fade" ng-show="accordion==4"> <!-- accordion-content -->
          <div class="tab-container"> <!-- tab-container -->
            <div class="accordion-cover">
                <img src="assets/img/portafolio/04.png" alt="eterea productions">
                <!-- project-title -->
                <h3>Etérea Productions</h3>
            </div>
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="project-content"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      This is a good example of a company website. Etérea has multiple painters, 
                      so they wanted a way to show the collections of each one separately. So I 
                      gave them a manageable fully responsive web with custom and private galleries 
                      and easy contact channel for their clients.
                  </p>
                  <a target="_blank" href="http://etereaproductions.com/" class="action-btn"><span>––––––––––––––––– </span> TAKE A LOOK <span> –––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div> <!-- ./accordion-content -->
      </div>
      <!-- ./li-acc -->
    </div>
    <!-- ./li-content -->
  </div>
  <!-- ./Services li -->
  
  <div class="portafolio-vs-link"> <!-- portafolio-na-link -->
    <a class="icon-social whatsapp-icon" href="https://api.whatsapp.com/send?phone=5213329197057" target="_blank"></a>
    <a class="icon-social skype-icon" href="skype:leosolutio?call"></a>
    <a class="icon-social mail-icon" href="mailto:iam@leonardogrinn.com"></a>
</div> <!-- ./portafolio-na-link -->