<p class="pageTitle">
  <span> < P O R T A F O L I<span class="red-letter"> O </span>/ ></span>
</p>

<div class="portafolio__na" ng-init="project=1">
  <!-- Tab Links-->
  <div class="tab-links">
    <h3 ng-class="{active:project==1}">
      <!--  h3 -->
      <a ng-class="{active:project==1}" ng-click="project = 1">01</a>
    </h3>
    <!--  ./h3 -->

    <h3 ng-class="{active:project==2}">
      <!--  h3 -->
      <a ng-class="{active:project==2}" ng-click="project = 2">02</a>
    </h3>
    <!--  ./h3 -->

    <h3 ng-class="{active:project==3}">
      <a ng-class="{active:project==3}" ng-click="project = 3">03</a>
    </h3>

    <h3 ng-class="{active:project==4}">
      <!--  h3 -->
      <a ng-class="{active:project==4}" ng-click="project = 4">04</a>
    </h3>
    <!--  ./h3 -->
  </div>
  <!-- ./Tab Links-->

  <!-- Tabs Details -->
  <div class="tab-details">
    <div class="project-details fade" ng-show="project==1">
      <!-- project-details -->
      <div class="project-title">
        <img src="assets/img/portafolio/01.png" alt="industrial mueblera">
        <!-- project-title -->
        <h3>industrial mueblera</h3>
      </div>
      <!-- ./project-title -->
      <div class="project-content" style="overflow: hidden;">
        <!-- project-content -->
        <p>
          Begin Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit
        </p>
        <a class="action-btn" href="http://industrialmueblera.com.mx/"
          >TAKE A LOOK</a
        >
      </div>
      <!-- ./project-content -->
    </div>
    <!-- ./project-details -->

    <div class="project-details fade" ng-show="project==2">
      <!-- project-details -->
      <div class="project-title">
        <img src="assets/img/portafolio/02.png" alt="landscape mexico">
        <!-- project-title -->
        <h3>landscape méxico</h3>
      </div>
      <!-- ./project-title -->
      <div class="project-content" style="overflow: hidden;">
        <!-- project-content -->
        <p>
          Second Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit
        </p>
        <a class="action-btn" href="http://landscapemexico.com.mx/"
          >TAKE A LOOK</a
        >
      </div>
      <!-- ./project-content -->
    </div>
    <!-- ./project-details -->

    <div class="project-details fade" ng-show="project==3">
      <!-- project-details -->
      <div class="project-title">
        <img src="assets/img/portafolio/03.png" alt="espanol restaurante">
        <!-- project-title -->
        <h3>Restaurante El Español</h3>
      </div>
      <!-- ./project-title -->
      <div class="project-content" style="overflow: hidden;">
        <!-- project-content -->
        <p>
          Another Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit
        </p>
        <a class="action-btn" href="https://espanolrestaurante.com/"
          >TAKE A LOOK</a
        >
      </div>
      <!-- ./project-content -->
    </div>
    <!-- ./project-details -->

    <div class="project-details fade" ng-show="project==4">
      <!-- project-details -->
      <div class="project-title">
        <img src="assets/img/portafolio/04.png" alt="eterea productions">
        <!-- project-title -->
        <h3>Etérea Art Productions</h3>
      </div>
      <!-- ./project-title -->
      <div class="project-content" style="overflow: hidden;">
        <!-- project-content -->
        <p>
          Last one Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit
        </p>
        <a class="action-btn" href="http://etereaproductions.com/"
          >TAKE A LOOK</a
        >
      </div>
      <!-- ./project-content -->
    </div>
    <!-- ./project-details -->
  </div>
  <!-- ./Tabs Details -->
</div>


<div class="portafolio-na-link"> <!-- portafolio-na-link -->
    <a class="icon-social whatsapp-icon" href="https://api.whatsapp.com/send?phone=5213329197057" target="_blank"></a>
    <a class="icon-social skype-icon" href="skype:leosolutio?call"></a>
    <a class="icon-social mail-icon" href="mailto:iam@leonardogrinn.com"></a>
</div> <!-- ./portafolio-na-link -->