.navigation {
    z-index: 999;
}

/* ================================
***** V I S O - S P A T I A L *****
================================ */ 
/* Nav button */
button {
    color: $color-tertiary;
    font-size: 3.5rem;
    font-weight: 100;
    @include transitions;
    text-align: center;

    span.activeOn {
        display: none;
    }
    span.li-btnOn {
        font-size: 1.5rem;
        margin-left: -2rem;
    }

    &.nav-trigger {
        position: fixed;
        background: none;
        border: none;
        width: 5rem;
        height: 5rem;
        left: 20vw;
        bottom: 8vh;
        transform: translateX(-5rem);

        z-index: 999;

        span.activeOn {
            display: block;
            bottom: 0rem !important;
            font-size: 3rem;
        }

        span.activeOff {
            display: none;
            
        }
    }

    &.active {
        width: 5.8rem;
        height: 5.8rem;
        top: 0rem;
        left: 0rem;

        /* Linguistic */
        span.li-btn {
            font-size: 1.5rem;
        }

        span.li-btnOn {
            display: none;
            position: absolute;
        }
        /* Linguistic */
        span.activeOn {
            display: none;
            position: absolute;
        }
        
        span.activeOff {
            display: block;
            transform: translateX(5rem);
        }
        
        @include respond(tab-port) {

        }

        @include respond(phone) {
            
        }
    }

    &:hover {
        color: $color-primary;

        /* Linguistic */
        span.li-btnOn {
            text-decoration: underline;
        }
        /* Linguistic */
    }
}



/* General styles for all menus */

.nav {
    background: $color-secondary;
    position: fixed;
    // display: flex;
    // align-content: center;
    // align-self: center;
    // align-items: center;

    /* Transitions */
    @include transitions;

    li {
        list-style: none;
        display: flex;
        margin-left: 3vw;
        
        justify-content: flex-end;

        &:first-child {
            margin-top: 10vh;
        }

        @include respond(tab-port) {
          margin-left: 6vw;
          margin-bottom: 2rem;
        }

        @include respond(phone) {
            margin-left: 14vw;
            
        }
        
        .up, .down {
            font-size: 3rem;
            @include transitions;
        }
        .up {
            color: $color-grey-dark; 
            transform: translate(-2rem,-1rem);
        }

        .down {
            color: $color-primary;
            transform: translate(2rem, 4.5rem);
            opacity: 0;
        }

         a {
             color: #fff;
             font-size: 2em;
             font-weight: 300;
             text-decoration: none;
             text-transform: uppercase;
             letter-spacing: 1rem;
             padding: 1em;
             /* All Li has the same width */
             width: 100%;

             span {
                 opacity: 0;
                 color: $color-primary;
                 /* Transitions */
                 @include transitions;
             }
             /* Transitions */
             @include transitions;

             @include respond(md-desktop) {
                font-size: 1.8em;
             }

             @include respond(tab-port) {
                 font-size: 2.8rem;
             }

             @include respond(phone) {
                 font-size: 2rem;
             }
         }
         
         &:hover,
         &.active {
             .up {
                 opacity: 0;
             }
             .down {
                 opacity: 1;
             }
             a {
                 color: $color-primary;
                 font-weight: 100;

                 /*Remember change the font-family */
                 span {
                    opacity: 1;
                }
             }
         }
        
    }

    /*  L I N G U I S T I C */
    .li {
        a {
            font-size: 1.8rem;
            &:hover,
            &.active {
                color: $color-tertiary;
                font-size: 2.5rem;
            }

            span {
                color: $color-tertiary;
            }
        }
    }

}

/* Orientation-dependent styles for the content of the menu */

.nav-vertical {
    width: 20vw;
    height: 100%;
    top: 0;
    z-index: 999;

    @include respond(tab-port) {
      width: 50vw;
    }

    @include respond(phone) {
        width: 100vw;
    }
}


/* Vertical menu that slides from the left or right */

.nav-right {
    left: -30vw;

    @include respond(tab-port) {
        
    }

    @include respond(phone) {
        
    }
}

.nav-right.cbp-spmenu-open {
    left: 0;
}

/* Example media queries */


@media screen and (max-height: 26.375em) {
    .nav-vertical {
        // font-size: 90%;
        // width: 190px;
    }

    .nav-right {
        //right: -190px;
    }
}



/* ================================
***** V I S O - S P A T I A L *****
================================ */ 
.navigation__viso-spatial {
}

.icon-vs-menu {
    @include iconSize;
    background-color: $color-tertiary;
    position: absolute;
    @include transitions;

    &:hover {
        background-color: $color-primary;
    }
}

.icon-vs-home {
    top: 0;
    left: 0;
    background-image: url(../../assets/img/Icons-menu/home-red.svg);

    &:hover {
        background-image: url(../../assets/img/Icons-menu/home.svg);
    }
}

.icon-vs-about {
    bottom: 0;
    left: 0;
    background-image: url(../../assets/img/Icons-menu/about-red.svg);

    &:hover {
        background-image: url(../../assets/img/Icons-menu/about.svg);
    }
}

.icon-vs-services {
    bottom: 0;
    right: 0;
    background-image: url(../../assets/img/Icons-menu/services-red.svg);

    &:hover {
        background-image: url(../../assets/img/Icons-menu/services.svg);
    }
}

.icon-vs-portafolio {
    top: 0;
    right: 0;
    background-image: url(../../assets/img/Icons-menu/portafolio-red.svg);

    &:hover {
        background-image: url(../../assets/img/Icons-menu/portafolio.svg);
    }
}

/* ==============================
***** K I N E S T H E T I C *****
============================== */
.navigation__kinesthetic {
    position: absolute;
    left: 5rem;
    display: grid;
    grid-template-rows: 4fr 4fr 4fr;

    a {
        color: $color-tertiary;
        text-decoration: none;
    }

    // &-container {
        
    // }

    .icon-ki-menu {
        background-color: $color-secondary;

        text-align: center;
        color: $color-tertiary;
        @include transitions;
        margin-bottom: 2rem;

        /* Box shadow */
        @include boxShadow;

        list-style: none;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        @include iconSize;
        overflow: hidden;

        .li-ki-text {
            text-align: center; 
            font-weight: lighter;
            font-size: 3rem;
            max-width: 5.8rem;
            display: block;
            opacity: 1;
            @include transitions;
        }

        li:last-child {
            transform: translateX(-4rem);
        }

        .li-ki-icon {
            transform: translateX(6rem);
            opacity: 0;
            @include transitions;
            img {
                width: 4rem;
                float: right;
                margin-top: 1.5rem;
                margin-right: 1rem;
                opacity: 0;
                transform: translateX(6rem);
                @include transitions;
            }

            p {
                font-size: 1.5rem;
                opacity: 0;
                transform: translateX(1.2rem);
                @include transitions;
                text-align: left;
                margin-left: 4rem;
            }
        }
    
        &:hover, &:active {
            background-color: $color-primary;
            width: 18rem;

            /* Box shadow */
            @include boxShadowDelete;
            transform: translate(-3px, 3px);

            .li-ki-text {
                transform: translate(-4rem, -6rem);
                opacity: 0;
            }

            .li-ki-icon {
                transform: translateX(-6rem);
                opacity: 1;

                img {
                    opacity: 1;
                    transform: translateY(-8rem);
                }

                p {
                    transform: translate(-2.2rem, -3.5rem);
                    opacity: 1;
                }
            }
        }
    }
}





