.nav-invisible {
    display: none;
}

.navigation {
    z-index: 999;
    //@include transitions;
}

/* ==========================================================
***** N A T U R A L I S T I C   &   L I N G U I S T I C *****
========================================================== */ 
/* Nav button */
button {
    color: $color-tertiary;
    font-size: 3.5rem;
    font-weight: 100;
    @include transitions;
    text-align: center;
    z-index: 999;
    span.activeOn {
        display: none;
    }
    span.li-btnOn {
        font-size: 1.5rem;
        margin-left: -2rem;

        /* Medium Desktop 1300 */ 
        @include respond(medium-desktop) {
            margin-left: 4rem;

            &-responsive {
                display: none;
            }
        }

        /* iPad Pro */
        @include respond(ipad-pro) {
            margin-left: 0;
            font-size: 2rem;
        }
    }

    &.nav-trigger,
    &.nav-trigger3 {
        position: fixed;
        background: none;
        border: none;
        width: 5rem;
        height: 5rem;
        left: 20vw;
        bottom: 8vh;
        transform: translateX(-5rem);

        z-index: 999;

        /* iPad Pro */
        @include respond(ipad-pro) {
            left: 90vw;
            bottom: 4vh;
            width: 8rem;
            height: 8rem;
        }
        span.activeOn {
            display: block;
            bottom: 0rem !important;
            font-size: 3rem;

            /* Medium Desktop 1300 */ 
            @include respond(medium-desktop) {

                &-responsive {
                   transform: translateX(6rem);
                }
            }

            /* iPad Pro */ 
            @include respond(ipad-pro) {

                &-responsive {
                   transform: translate(5rem, 2rem);
                   font-size: 4rem;
                }
            }

            /* iPad */ 
            @include respond(ipad) {

                &-responsive {
                   transform: translate(4rem, 2rem);
                   font-size: 4rem;
                }
            }

            /* iPhone Plus */ 
            @include respond(iphone-plus) {

                &-responsive {
                   transform: translate(1rem, 2rem);
                   font-size: 3rem;
                }
            }
           
        }

        span.activeOff {
            display: none;  
        }
    }

    &.active {
        width: 5.8rem;
        height: 5.8rem;
        top: 0rem;
        left: 0rem;

        /* Linguistic */
        span.li-btn {
            font-size: 1.5rem;
        }

        span.li-btnOn {
            display: none;
            position: absolute;
        }
        /* Linguistic */
        span.activeOn {
            display: none;
            position: absolute;
        }
        
        span.activeOff {
            display: block;
            transform: translateX(5rem);
        }
        
    }

    &:hover {
        color: $color-primary;

        /* Linguistic */
        span.li-btnOn {
            text-decoration: underline;
        }
        /* Linguistic */
    }
}



/* General styles for all menus */

.nav {
    background: $color-secondary;
    position: fixed;
    // display: flex;
    // align-content: center;
    // align-self: center;
    // align-items: center;

    /* Transitions */
    @include transitions;

    li {
        list-style: none;
        display: flex;
        margin-left: 3vw;
        
        justify-content: flex-end;

        &:first-child {
            margin-top: 10vh;
        }

         /* iPad Pro */
         @include respond(ipad-pro) {
            &:first-child {
                margin-top: 15vh;
            }
        }

        /* iPad Pro */
        @include respond(iphone-plus) {
            font-size: 1rem;
        }


        // @include respond(tab-port) {
        //   margin-left: 6vw;
        //   margin-bottom: 2rem;
        // }

        // @include respond(phone) {
        //     margin-left: 14vw;
            
        // }
        
        .up, .down {
            font-size: 3rem;
            @include transitions;
        }
        .up {
            color: $color-grey-dark; 
            transform: translate(-2rem,-1rem);
        }

        .down {
            color: $color-primary;
            transform: translate(2rem, 4.5rem);
            opacity: 0;
        }

         a {
             color: #fff;
             font-size: 2em;
             font-weight: 300;
             text-decoration: none;
             text-transform: uppercase;
             letter-spacing: 1rem;
             padding: 1em;
             /* All Li has the same width */
             width: 100%;

             span {
                 opacity: 0;
                 color: $color-primary;
                 /* Transitions */
                 @include transitions;
             }

             /* ¡¡¡ POR SI ROMPISTE ALGO !!! */

              /* Large Desktop 1366 * 768 */
            @include respond(large-desktop) {
                font-size: 1.3rem; 
            }
             /* iPad Pro */
            @include respond(ipad-pro) {
                font-size: 3rem; 
                text-align: center;
            }

             /* iPhone Plus */
             @include respond(iphone-plus) {
                font-size: 2rem; 
            }
             /* Transitions */
            //  @include transitions;

            //  @include respond(md-desktop) {
            //     font-size: 1.8em;
            //  }

            //  @include respond(tab-port) {
            //      font-size: 2rem;
            //  }

            //  @include respond(phone) {
            //      font-size: 2rem;
            //  }
         }
         
         &:hover,
         &.active {
             .up {
                 opacity: 0;
             }
             .down {
                 opacity: 1;
             }
             a {
                 color: $color-primary;
                 font-weight: 100;

                 /*Remember change the font-family */
                 span {
                    opacity: 1;
                }
             }
         }
        
    }

    /*  L I N G U I S T I C */
    .li {
        a {
            font-size: 1.5rem;
            &:hover,
            &.active {
                color: $color-tertiary;
                font-size: 2rem;

                span {
                    opacity: 1;
                }
            }

            span {
                color: $color-tertiary;
            }

            /* Large Desktop 1366 * 768 */
            @include respond(large-desktop) {
                font-size: 1.3rem;

                &:hover,
                &.active {
                    font-size: 1.7rem;
                }
            }

            /* iPad Pro */
            @include respond(ipad-pro) {
                text-align: center;
                font-size: 3rem;

                &.active {
                    color: $color-tertiary;
                    font-size: 4.5rem;
    
                    span {
                        opacity: 1;
                    }
                }
            }

            /* iPad Pro */
             @include respond(iphone-plus) {
                font-size: 1.5rem;
                &.active {
                    color: $color-tertiary;
                    font-size: 2.5rem;
    
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }

}

/* Orientation-dependent styles for the content of the menu */

.nav-vertical {
    width: 21vw;
    height: 100%;
    top: 0;
    z-index: 999;

    /* Medium Desktop 1300 */ 
    @include respond(medium-desktop) {
        width: 25vw;  
    }

    

    /* iPad */
    @include respond(ipad-pro) {
      width: 100vw;
    }

    @include respond(phone) {
        width: 100vw;
    }
}


/* Vertical menu that slides from the left or right */

.nav-right {
    left: -30vw;

    /* iPad */
    @include respond(ipad-pro) {
        left: -100vw;
    }

    @include respond(phone) {
        
    }
}

.nav-right.cbp-spmenu-open {
    left: 0;
}

/* Example media queries */


@media screen and (max-height: 26.375em) {
    .nav-vertical {
        // font-size: 90%;
        // width: 190px;
    }

    .nav-right {
        //right: -190px;
    }
}



/* ================================
***** V I S O - S P A T I A L *****
================================ */ 
.navigation__viso-spatial {
    z-index: 999;
}

.icon-vs-menu {
    @include iconSize;
    background-color: $color-tertiary;
    position: absolute;
    @include transitions;
    z-index: 999;
    &:hover, &.active {
        background-color: $color-primary;
    }
}

.icon-vs-home {
    top: 0;
    left: 0;
    background-image: url(../../assets/img/Icons-menu/home-red.svg);

    &:hover, &.active {
        background-image: url(../../assets/img/Icons-menu/home.svg);
    }

    /* iPhone Plus */
    @include respond(iphone-plus) {
        left: 3.5rem; 
    }
}

.icon-vs-about {
    bottom: 0;
    left: 0;
    background-image: url(../../assets/img/Icons-menu/about-red.svg);

    &:hover, &.active {
        background-image: url(../../assets/img/Icons-menu/about.svg);
    }

    /* iPad Pro */
    @include respond(ipad-pro) {
        top: 0;
        left: 6.5rem;  
    }

    /* iPhone Plus */
    @include respond(iphone-plus) { 
        left: 11.5rem;
    }
}

.icon-vs-services {
    bottom: 0;
    right: 0;
    background-image: url(../../assets/img/Icons-menu/services-red.svg);

    &:hover, &.active {
        background-image: url(../../assets/img/Icons-menu/services.svg);
    }

    /* iPad Pro */
    @include respond(ipad-pro) {
        top: 0;
        left: 13rem;  
    }

    /* iPhone Plus */
    @include respond(iphone-plus) { 
        left: 19.5rem;
    }
}

.icon-vs-portafolio {
    top: 0;
    right: 0;
    background-image: url(../../assets/img/Icons-menu/portafolio-red.svg);

    &:hover, &.active {
        background-image: url(../../assets/img/Icons-menu/portafolio.svg);
    }

    /* iPad Pro */
    @include respond(ipad-pro) {
        top: 0;
        left: 19.5rem;  
    }

    /* iPhone Plus */
    @include respond(iphone-plus) { 
        left: 27.5rem;
    }
}

/* ==============================
***** K I N E S T H E T I C *****
============================== */
.navigation__kinesthetic {
    z-index: 999;
    position: absolute;
    left: 5rem;
    display: grid;
    grid-template-rows: 4fr 4fr 4fr;

    a {
        color: $color-tertiary;
        text-decoration: none;
    }

    // &-container {
        
    // }

    .icon-ki-menu {
        background-color: $color-secondary;

        text-align: center;
        color: $color-tertiary;
        @include transitions;
        margin-bottom: 2rem;

        /* Box shadow */
        @include boxShadow;

        list-style: none;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        @include iconSize;
        overflow: hidden;

        .li-ki-text {
            text-align: center; 
            font-weight: lighter;
            font-size: 3rem;
            max-width: 5.8rem;
            display: block;
            opacity: 1;
            @include transitions;
        }

        li:last-child {
            transform: translateX(-4rem);
        }

        .li-ki-icon {
            transform: translateX(6rem);
            opacity: 0;
            @include transitions;
            img {
                width: 4rem;
                float: right;
                margin-top: 1.5rem;
                margin-right: 1rem;
                opacity: 0;
                transform: translateX(6rem);
                @include transitions;
            }

            p {
                font-size: 1.5rem;
                opacity: 0;
                transform: translateX(1.2rem);
                @include transitions;
                text-align: left;
                margin-left: 4rem;
            }
        }
    
        &:hover {
            background-color: $color-primary;
            width: 18rem;

            /* Box shadow */
            @include boxShadowDelete;
            transform: translate(-3px, 3px);

            .li-ki-text {
                transform: translate(-4rem, -6rem);
                opacity: 0;
            }

            .li-ki-icon {
                transform: translateX(-6rem);
                opacity: 1;

                img {
                    opacity: 1;
                    transform: translateY(-8rem);
                }

                p {
                    transform: translate(-2.2rem, -3.5rem);
                    opacity: 1;
                }
            }
        } 

        &.active {
            /* Box shadow */
            @include boxShadowDelete;
            background-color: $color-primary; 
        }
    }
}

/* ================================================
***** L O G I C A L   M A T H E M A T I C A L *****
================================================ */ 
.container {
    position: absolute;
    top: 50%;
    right: 1rem;
    /*transform: translate(-50%, -50%);*/
    transform: rotate(90deg) translate(0%, -850%);
    z-index: 999;

    /* iPad Pro */
    @include respond(ipad-pro) {
        position: fixed;
        top: 2rem;
        transform: rotate(0deg) translate(-35%, 0%);
    }

    /* iPhone Plus */
    @include respond(iphone-plus) {
        transform: rotate(0deg) translate(4vw, 3.2rem);
        width: 100vw;

    }


   
  }
  .steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 45vh;
  }
  .step {
    width: 20px;
    height: 20px;
    background: $color-tertiary;
    border: 3px solid $color-grey-dark;
    border-radius: 50%;
    text-align: right;
    transform: rotate(-90deg);
  
    transition: background 1s;
    @include transitions;

    &.selected {
        border: 3px solid $color-primary; 
    }

    &.completed {
        border: 3px solid $color-primary;
        background: $color-primary; 
    }

    span.link-label {
        transform: translateX(-11rem);
        position: absolute;
        text-decoration: none;
        color: $color-primary;
        font-size: 1rem;
        cursor: default;
        pointer-events: none;
        width: 8rem;
        max-width: 8rem;
        overflow: hidden;
        opacity: 0;

        @include transitions;
    }

    &:hover {
        span.link-label {
            opacity: 1;

            /* Desktop 1180 */
            @include respond(ipad-pro) {
                opacity: 0;
            }
        } 
    }
  }
  

  .progress {
    position: absolute;
    width: 100%;
    height: 65%;
    border-bottom: 6px solid $color-grey-dark;
    z-index: -1;
  }
  .percent {
    position: absolute;
    width: 0;
    height: 150%;
    border-bottom: 2px solid $color-primary;
    z-index: 1;
    transition: width 1s;
  }
  
  


