.about {

    overflow: hidden;

    &[back-img] {

        /* fix the weird backgroun behavior*/
        height: 100%;


        background-size: 50%;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-color: #f4f4f0;


        /* Large Desktop 1366 * 768 */
        @include respond(large-desktop) {
            background-size: 45%;
        }

        /* iPad Pro */
        @include respond(ipad-pro) {
            background-size: 70vw;
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            background-size: 0vw;
        }
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /* iPad Pro */
    @include respond(ipad-pro) {
        grid-template-columns: 1fr;
    }

    /* iPhone Plus */
    @include respond(iphone-plus) {
        overflow-y: auto;
    }

    &__empty {

        /* iPad Pro */
        @include respond(ipad-pro) {
            display: none;
        }
    }


    &__container {

        display: grid;
        grid-template-rows: 1fr 0.5fr;
        padding-top: 20rem;
        padding-right: 5vw;

        /* iPad Pro */
        @include respond(ipad-pro) {
            padding-top: 12rem;
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            grid-template-rows: 2fr 0.5fr;
            padding-top: 4rem;
        }

    }

    &__text {
        display: block;
        float: right;
        padding-left: 10vw;
        @include textSize;

        /* ---- Logical Mathematical ---- */
        &-lm {
            display: block;
            float: right;
            padding-left: 5vw;
            padding-right: 5vw;
            @include textSize;
        }

        /* iPad Pro */
        @include respond(ipad-pro) {
            font-size: 2rem;
            line-height: 3rem;
            padding-left: 5vw;

            &-lm {
                font-size: 2rem;
                line-height: 3rem;
                padding-left: 5vw;
            }
        }

        /* iPad */
        @include respond(ipad) {
            font-size: 1.5rem;
            line-height: 2rem;

            &-lm {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            margin-bottom: 3rem;
            padding-left: 5vw;
            padding-right: 0vw;

            &-lm {
                margin-bottom: 3rem;
                padding-left: 5vw;
                padding-right: 0vw;
            }
        }
    }

    /* ---- L I N G U I S T I C ---- */
    &__links-li {

        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 10vw;

        a {
            @include socialLinkLi;
        }

        /* Large Desktop 1366 * 768 */
        @include respond(large-desktop) {
            grid-column-gap: 4rem;
        }

        /* iPad Pro */
        @include respond(ipad-pro) {
            grid-template-columns: 1fr;
            position: fixed;
            min-width: 15rem;
            right: 5vw;
            bottom: 10rem;
            padding-left: 0vw;
        }

        /* iPad */
        @include respond(ipad) {
            min-width: 12rem;
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 0.1rem;

            min-width: 100vw;

            bottom: 0;
            right: 0;
            // padding-left: 5vw;
            // padding-right: 5vw;
            // padding-bottom: 1rem;
            // padding-top: 1rem;
            padding: 1rem 5vw 1rem 5vw;
            background-color: $color-secondary;


            //position: initial;
            // padding-left: 5vw;
            // padding-right: 5vw;
            // margin-bottom: 3rem;

            //transform: translateY(100%);

            //margin-top: 35vh;
        }


    }

    /* ---- V I S O - S P A T I A L ---- */
    &__links-vs {

        display: grid;
        grid-column-gap: 1rem;
        //grid-row-gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        padding-left: 10vw;
        padding-right: 10vw;

        a {
            @include iconSize;
            text-decoration: none;
            background-color: $color-secondary;
            cursor: pointer;
            @include transitions;

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    /* ---- N A T U R A L I S T I C ---- */
    &__links-na {

        display: grid;
        grid-template-columns: 1fr 35rem;

        /* iPad Pro */
        @include respond(ipad-pro) {
            grid-template-columns: 1fr 40rem;
        }

        /* iPad */
        @include respond(ipad) {
            grid-template-columns: 1fr 35rem;
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            grid-template-columns: 1fr;

            &-empty {
                display: none;
            }
        }


        a {
            @include iconSize;
            text-decoration: none;
            //transform: rotate(45deg);
            cursor: pointer;
            @include transitions;
        }

        .pic {
            @include iconSize;

            background-color: $color-secondary;
            display: inline-block;
            margin-left: 3rem;
            transform: rotateZ(45deg);
            @include transitions;


            img {
                width: 50%;
                margin-top: 1.3rem;
                margin-left: 1.3rem;
                transform: rotate(-45deg);
            }

            /* iPhone Plus */
            @include respond(iphone-plus) {
                display: none;
            }
        }

        .pic:hover {
            background-color: $color-primary;
        }

        .row-2 {
            margin-left: 4.6rem;
            margin-top: -1.3rem;

        }
    }

    /* ---- K I N E S T H E T I C ---- */
    &__links-ki {

        display: grid;
        grid-template-columns: 1fr 25rem;


        a {
            @include iconSize;
            text-decoration: none;
            //transform: rotate(45deg);
            cursor: pointer;
            @include transitions;
        }

        .pic {
            @include iconSize;

            background-color: $color-secondary;
            display: inline-block;
            margin-left: 3rem;
            transform: rotateZ(45deg);
            @include transitions;
            @include boxShadow;


            img {
                width: 50%;
                margin-top: 1.3rem;
                margin-left: 1.3rem;
                transform: rotate(-45deg);
            }
        }

        .pic:hover {
            background-color: $color-primary;
            transform: rotateZ(45deg) translate(-3px, 3px);
            @include boxShadowDelete;
        }

        .row-2 {
            margin-left: 4.6rem;
            margin-top: -1rem;
        }

        .row-3 {
            margin-top: -1rem;
        }
    }

    /* ---- L O G I C A L   M A T H E M A T I C A L ---- */
    &__empty-lm {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    &__links-lm {
        transform: rotate(90deg) scale(1, -1);
        position: fixed;
        bottom: 25rem;
        left: -2vw;
        z-index: 999;

        a {
            @include iconSize;
            text-decoration: none;
            //transform: rotate(45deg);
            cursor: pointer;
            @include transitions;
        }

        .pic {
            @include iconSize;

            background-color: $color-secondary;
            display: inline-block;
            margin-left: 3rem;
            transform: rotateZ(45deg);
            @include transitions;


            img {
                width: 50%;
                margin-top: 1.3rem;
                margin-left: 1.3rem;
                transform: rotate(-135deg) scale(-1, 1);
            }
        }

        .pic:hover {
            background-color: $color-primary
        }

        .row-2 {
            margin-left: 4.6rem;
            margin-top: -1.3rem;
        }
    }

    /* Responsive general social links */
    &__social-responsive {
        display: none;

        @include respond(iphone-plus) {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            @include iconSize;
            position: fixed;
            bottom: 0;
            left: 2.5vw;

            a {
                @include iconSize;
                text-decoration: none;
                background-color: $color-secondary;
                cursor: pointer;
                @include transitions;

                &:hover {
                    background-color: $color-primary;
                }
            }
        }
    }
}