.about {
    
    overflow: hidden;
    &[back-img] {
        
        /* fix the weird backgroun behavior*/
        height: 100%;


        background-size: 50%;
        background-repeat: no-repeat;
        background-position: bottom left;
        background-color: #f4f4f0;

        @include respond(tab-port) {
            //background: linear-gradient(to bottom, #F4EFDD, #F4EFDD, white)!important;
        }
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);


    &__container {
        
        display: grid;
        grid-template-rows: 1fr 0.5fr;
        padding-top: 20rem;
        padding-right: 10rem;
        
    }

    &__text {
        display: block;
        float: right;
        padding-left: 10vw;
        @include textSize;

        /* ---- Logical Mathematical ---- */
        &-lm {
            display: block;
            float: right;
            padding-left: 5vw;
            padding-right: 5vw;
            @include textSize;  
        } 
    }

    /* ---- L I N G U I S T I C ---- */
    &__links-li {

        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 10vw;

        a {
            text-align: center;
            text-decoration: none;
            color: $color-tertiary;
            background-color: $color-secondary;
            font-size: 2rem;

            @include transitions;

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    /* ---- V I S O - S P A T I A L ---- */
    &__links-vs {

        display: grid;
        grid-column-gap: 1rem;
        //grid-row-gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        padding-left: 10vw;
        padding-right: 10vw;

        a {
            @include iconSize;
            text-decoration: none;  
            background-color: $color-secondary;
            cursor: pointer;
            @include transitions;

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    /* ---- N A T U R A L I S T I C ---- */
    &__links-na {

        display: grid;
        grid-template-columns:  1fr 35rem;
        

        a {
            @include iconSize;
            text-decoration: none;  
            //transform: rotate(45deg);
            cursor: pointer;
            @include transitions;
        }

        .pic {
            @include iconSize;
        
            background-color:$color-secondary;
            display:inline-block;
            margin-left: 3rem;
            transform: rotateZ(45deg);
            @include transitions;


            img {
                width: 50%;
                margin-top: 1.3rem;
                margin-left: 1.3rem;
                transform: rotate(-45deg);
            }
          }
          .pic:hover{
            background-color: $color-primary;
          }
          .row-2 {
            margin-left: 4.6rem;
            margin-top: -1.3rem;
        }
    }

    /* ---- K I N E S T H E T I C ---- */
    &__links-ki {

        display: grid;
        grid-template-columns:  1fr 25rem;
        

        a {
            @include iconSize;
            text-decoration: none;  
            //transform: rotate(45deg);
            cursor: pointer;
            @include transitions;
        }

        .pic {
            @include iconSize;
        
            background-color:$color-secondary;
            display:inline-block;
            margin-left: 3rem;
            transform: rotateZ(45deg);
            @include transitions;
            @include boxShadow;


            img {
                width: 50%;
                margin-top: 1.3rem;
                margin-left: 1.3rem;
                transform: rotate(-45deg);
            }
          }
          .pic:hover{
            background-color: $color-primary;
            @include boxShadowDelete;
          }
          .row-2 {
            margin-left: 4.6rem;
            margin-top: -1rem;
          }

          .row-3{
            margin-top: -1rem;
          }
    }

    /* ---- L O G I C A L   M A T H E M A T I C A L ---- */
    &__empty-lm {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    &__links-lm {
        transform: rotate(90deg) scale(1, -1);
        position: absolute;
        bottom: 25rem;
        left: -2vw;

        a {
            @include iconSize;
            text-decoration: none;  
            //transform: rotate(45deg);
            cursor: pointer;
            @include transitions;
        }

        .pic {
            @include iconSize;
        
            background-color:$color-secondary;
            display:inline-block;
            margin-left: 3rem;
            transform: rotateZ(45deg);
            @include transitions;


            img {
                width: 50%;
                margin-top: 1.3rem;
                margin-left: 1.3rem;
                transform: rotate(-135deg) scale(-1, 1);
            }
          }
          .pic:hover{
            background-color: $color-primary
          }
          .row-2 {
            margin-left: 4.6rem;
            margin-top: -1.3rem;
        }
    }
}


  
