.portafolio {
    background-color: $color-tertiary;
    height: 100%;

    /* L I N G U I S T I C */
    &__li {

        .tab {
            &-links {
                position: fixed;
                top: 12.5rem;
                left: 2.5vw;
                font-size: 1.5rem;
                font-family: 'Helvetica Neue Thin', sans-serif;
                overflow: hidden;
                
                h3 {
                    margin-bottom: 1.5rem;
                }

                a {
                    @include transitions;
                    padding: 1rem;

                    &:hover,
                    &.active {
                        background-color: $color-primary;
                        color: $color-tertiary;
                    }
                }

                /* Large Desktop 1366 * 768 */
                @include respond(large-desktop) {
                    font-size: 1.3rem;
                    left: 2.2vw;
                    a {
                        padding: 0.7rem; 
                    }
                }

                /* iPhone Plus */
                @include respond(iphone-plus) {
                    top: 15rem;  
                }

                /* iPhone Plus */
                @include respond(iphone) {
                    top: 20rem;  
                }
            }

            &-details {
                display: flex;
                height: 100%;
                justify-content: center; /* align horizontal */
                align-items: center; /* align vertical */
                overflow: hidden;
            }
        }


        .project {
            &-details {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding-left: 15vw;
                padding-right: 10vw;
                position: fixed;

                /* iPad Pro */
                @include respond(ipad-pro) {
                    grid-template-columns: 1fr;
                    padding-left: 0vw;
                }
            }

            &-title {
                @include titleLi;
                transform: translateY(-20rem);
                position: fixed;
                left: 15vw;
                .second-line {
                    margin-left: 15rem;
                    margin-top: -2rem;
                }

                /* Large Desktop 1366 * 768 */
                @include respond(large-desktop) {
                    left: 10vw;

                    .second-line {
                        margin-left: 10rem;
                    }
                }

                /* iPad Pro */
                @include respond(ipad-pro) {
                    transform: translateY(-40rem);
                    left: 20vw;
                }

                /* iPad */
                @include respond(ipad) {
                    transform: translateY(-23rem);
                    left: 15vw;
                }

                /* iPhone Plus */
                @include respond(iphone-plus) {
                    left: 7vw;
                    font-size: 2.5rem !important;
                }

                /* iPhone */
                @include respond(iphone) {
                    transform: translateY(-19rem);
                }

            }

            &-content {
                transform: translateY(-5rem);
                position: fixed;
                margin-right: 10vw;
                p {
                    font-size: 2rem;
                }
                
                .action-btn {
                    color: $color-primary;
                    font-size: 1.8rem;
                    font-family: 'Avenir Roman', sans-serif;
                    float: right;

                    

                    &:hover {
                        text-decoration: underline;
                    }
                }

                /* Large Desktop 1366 * 768 */
                @include respond(large-desktop) {
                    p {
                        font-size: 1.5rem;
                    }

                    .action-btn {
                        font-size: 1.5rem;
                        margin-top: 2rem;
                    }
                }

                /* Medium Desktop 1300 */ 
                @include respond(medium-desktop) {
                    transform: translateY(-7rem);
                }

                /* iPad Pro */
                @include respond(ipad-pro) {
                    transform: translate(-40%, -15rem);
                    width: 70vw;
                    p {
                        font-size: 2rem;
                    }
                }

                /* iPad Pro */
                @include respond(ipad) {
                    transform: translate(-40%, -5rem);
                    width: 70vw;
                    p {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }

    }

    &-li-link {
        //position: fixed;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        position: fixed;
        right: 5vw;
        bottom: 10rem;
        
        a {
            @include socialLinkLi;
            min-width: 18rem;
        }

        /* Large Desktop 1366 * 768 */
        @include respond(large-desktop) {
            a {
                min-width: 12rem;
            }
        }

        /* iPhone Plus */
        @include respond(iphone-plus) {
            bottom: 2rem;
            width: 100vw;
        }
    }

    /* N A T U R A L I S T I C */
    &__na {
        overflow: hidden;
        height: 100%;

        .tab{
            &-links {
                display: grid;
                transform: rotate(-90deg);
                position: fixed;
                bottom: 0rem;
                left: 7vw;
                z-index: 900;

                h3 {
                    transform: rotate(90deg);
                    margin-bottom: 3rem;
                }

                a {
                    background-color: $color-secondary;
                    color: $color-tertiary;
                    padding: 1rem;
                    @include transitions;


                    &:hover,
                    &.active {
                        background-color: $color-primary;
                    }
                }

                /* Large Desktop */
                @include respond(large-desktop) {
                    bottom: 2rem;
                    a {
                        padding: 0.8rem;
                    
                    }

                    h3 {
                        margin-bottom: 2rem;
                    }
                }

            }

            &-details {

                .project {
                    &-details {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                    &-title {
                        z-index: 888;
                        img {
                            height: 90vh;
                            max-width: 50vw;
                        }
                        h3 {
                            position: fixed;
                            height: 95vh;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50vw;
                            transform: translate(0,-100%);
                            color: $color-tertiary;
                            @include titleLi;
                            color: $color-tertiary;
                        }
                    }

                    &-content {
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;

                        padding-left: 5vw;
                        padding-right: 5vw;
                        margin-top: 25rem;
            
                        p {
                            font-size: 2.2rem;
                            color: $color-secondary;
                            line-height: 3rem;


                            position: fixed;
                            right: 5vw;
                            padding-left: 55vw;
                            top: 35rem;
                        }

                        a {
                            color: $color-tertiary;
                            background-color: $color-primary; 
                            text-decoration: none;
                            font-size: 1.6rem;
                            padding: 0.4rem 1.2rem 0.4rem 1.2rem;
                            bottom: 30vh;
                            //font-family: 'Helvetica Neue Thin', sans-serif;
                            //float: right;
                            /* float: right; */
                            position: fixed;
                            right: 5vw;


                            &:hover {
                                text-decoration: underline;
                            }
                        }


                        /* Large Desktop */
                        @include respond(large-desktop) {
                            p {
                                top: 20rem;
                                font-size: 1.5rem;
                                line-height: 2.5rem;   
                            }

                            a {
                                bottom: 16rem;
                                font-size: 1.5rem;
                            }
                        }

                        /* Desktop */
                        @include respond(desktop) {
                            a {
                                font-size: 1.2rem;
                                bottom: 12rem;
                            }
                        }
                    }
                }
                
            }
        }
    }

    &-na-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include iconSize;
        position: fixed;
        bottom: 0;
        right: 10vw;

        a {
            @include iconSize;
            text-decoration: none;  
            background-color: $color-secondary;
            cursor: pointer;
            @include transitions;

            &:hover {
                background-color: $color-primary;
            }
        }
    }


    /* L O G I C A L   M A T H E M A T H I C A L */
    .topBar {
        position: fixed;
        z-index: 900;
        width: 100vw;
        height: 6rem;
        top: 0;
        left: 0;
        background-color: $color-secondary;
    }

    &__lm {
        overflow: hidden;
        height: 100%;
        background-color: $color-secondary;

        .tab{
            &-links {
                display: grid;
                transform: rotate(-90deg);
                position: fixed;
                top: 6rem;
                left: 7vw;
                z-index: 900;

                h3 {
                    transform: rotate(90deg);
                    margin-bottom: 3rem;
                }

                a {
                    background-color: $color-secondary;
                    color: $color-tertiary;
                    padding: 1rem;
                    @include transitions;


                    &:hover,
                    &.active {
                        background-color: $color-primary;
                    }
                }

                /* Large Desktop */
                @include respond(large-desktop) {
                    top: -3rem;
                    left: 10vw;

                    a {
                        padding: 0.8rem;
                    }
                }

                /* Desktop */
                @include respond(desktop) {

                    a {
                        padding: 0.5rem;
                    }
                }
            }

            &-details {

                .project {
                    &-details {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                    &-cover {
                        z-index: 850;
                        img {
                            height: 100vh;
                            max-width: 50vw;
                            position: fixed;
                            //top: 6rem;
                            padding-top: 6rem !important;
                            right: 0;
                            bottom: 6rem;
                        }
                    }

                    &-content {
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;

                        padding-left: 5vw;
                        padding-right: 5vw;
                        margin-top: 25rem;
                        color: $color-tertiary;
                        h3 {
                            
                            @include titleLi;
                            color: $color-tertiary;
                            position: fixed;
                            top: 35rem;

                            /* Large Desktop */
                            @include respond(large-desktop) {
                                top: 15rem;
                            }
                    
                        }
            
                        p {
                            font-size: 2.2rem;
                            
                            line-height: 3rem;


                            position: fixed;
                            left: 5vw;
                            padding-right: 55vw;
                            top: 45rem;

                            /* Large Desktop */
                            @include respond(large-desktop) {
                                top: 24rem;
                                font-size: 1.5rem;
                                line-height: 2.5rem;
                                padding-right: 50vw;
                            }
                        }

                        .action-btn {
                            color: $color-tertiary;
                            background-color: $color-primary;
                            text-decoration: none;
                            font-size: 1.6rem;
                            padding: 0.4rem 1.2rem 0.4rem 1.2rem;
                            bottom: 20vh;
                            //font-family: 'Helvetica Neue Thin', sans-serif;
                            //float: right;
                            /* float: right; */
                            position: fixed;
                            left: 5vw;


                            &:hover {
                                text-decoration: underline;
                            }

                            /* Large Desktop */
                            @include respond(large-desktop) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                
            }
        }

    }


    &-lm-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include iconSize;
        position: fixed;
        bottom: 0;
        left: 2vw;

        a {
            @include iconSize;
            text-decoration: none;  
            background-color: $color-secondary;
            cursor: pointer;
            @include transitions;

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    /* K I N E S T H E T I C */
    &__ki {
        overflow: hidden;
        height: 100%;
        background-color: $color-secondary;

        .tab {
            &-links {
                display: grid;
                position: fixed;
                //bottom: 4rem;
                left: 42.5vw;
                height: 100%;
                padding-top: 10vh;
                padding-bottom: 15vh;
                //top: 42.5vh;
                z-index: 890;

                h3 {
                    //transform: rotate(90deg);
                    margin-bottom: 5rem;
                }

                a {
                    color: $color-secondary;

                    overflow: hidden;
                    position: fixed;
                    width: 7vw;
                    height: 7vw;
                    background-color: $color-tertiary;
                    transition: all 0.3s ease-in;
                    padding: 2rem 1.3rem 0.8rem 1.3rem;
                    letter-spacing: 0.3rem;
                    font-size: 5rem;
                    font-weight: bold;
                    text-align: center;

                

                    &:hover,
                    &.active {
                        color: $color-tertiary;
                        background-color: $color-primary;
                        @include boxShadowKiP;
                        // @include boxShadowDelete;
                        // transform: translate(0px, 4px);

                        
                    }
                }

                /* Large Desktop */
                @include respond(large-desktop) {
                    padding-bottom: 20vh;
                    left: 41vw;

                    h3 {
                        margin-bottom: 4rem;
                    }

                    a {
                        width: 7vw;
                        height: 7vw;
                        padding: 0.5rem 1.3rem 0.8rem 1.3rem;
                    }
                }

                /* Medium Desktop */
                @include respond(medium-desktop) {
                    padding-top: 15vh;
                    padding-bottom: 25vh;
                    left: 43vw;

                    a {
                        width: 6vw;
                        height: 6vw;
                        font-size: 4rem;
                        // padding: 0.5rem 1.3rem 0.8rem 1.3rem;
                    }
                }

            }


            &-details {

                .project {
                    &-details {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }

                    &-cover {
                        z-index: 850;

                        img {
                            height: 95vh;
                            max-width: 50vw;
                            position: fixed;
                            //top: 6rem;
                            padding-top: 6rem !important;
                            left: 0;
                            bottom: 6rem;

                            /* Desktop */
                            @include respond(desktop) {
                                max-width: 40vw;
                            }
                        }

                        h3 {
                            position: fixed;
                            height: 95vh;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50vw;
                            transform: translate(0, -100%);
                            @include titleLi;
                            font-size: 6rem;
                            color: $color-tertiary;
                        }
                    }

                    &-content {
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;

                        padding-left: 5vw;
                        padding-right: 5vw;
                        margin-top: 25rem;

                        .titleService-ki {

                            @include titleLi;
                            color: $color-tertiary;
                            position: fixed;
                            top: 25rem;
                            left: 55vw;


                            /* Large Desktop */
                            @include respond(large-desktop) {
                                top: 20rem;
                            }
                        }

                        p {
                            font-size: 2.2rem;
                            color: $color-tertiary;
                            line-height: 3rem;


                            position: fixed;
                            right: 5vw;
                            padding-left: 55vw;
                            top: 40rem;

                            /* Large Desktop */
                            @include respond(large-desktop) {
                                top: 28rem;
                                font-size: 1.5rem;
                                line-height: 2.5rem;
                            }
                        }

                        .action-btn {
                            color: $color-tertiary;
                            background-color: $color-primary;
                            text-decoration: none;
                            font-size: 1.6rem;
                            padding: 0.4rem 1.2rem 0.4rem 1.2rem;
                            bottom: 25vh;
                            //font-family: 'Helvetica Neue Thin', sans-serif;
                            //float: right;
                            /* float: right; */
                            position: fixed;
                            right: 5vw;

                            @include transitions;
                            @include boxShadowLighter;


                            &:hover {
                                @include boxShadowDelete;
                                transform: translate(-3px, 3px);
                            }

                            /* Large Desktop */
                            @include respond(large-desktop) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

            }
        }
    }


    &-ki-link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
        @include iconSize;
        position: fixed;
        bottom: 0;
        right: 10vw;

        a {
            @include iconSize;
            width: 4.8rem !important;
            height: 4.8rem !important;
            @include boxShadowLighter;
            text-decoration: none;
            background-color: $color-tertiary;
            cursor: pointer;
            @include transitions;

            &:hover {
                background-color: $color-primary;
                @include boxShadowDelete;
                transform: translate(-3px,3px);
            }

            /* Skype */
            &.skype {
                background-image: url(../../assets/img/Icons-social-media/skype-logo-grey.svg);

                &:hover {
                    background-image: url(../../assets/img/Icons-social-media/skype-logo.svg);  
                }
            }

            /* Mail */
            &.mail {
                background-image: url(../../assets/img/Icons-social-media/mail-grey.svg);

                &:hover {
                    background-image: url(../../assets/img/Icons-social-media/mail.svg);  
                }
            }

            /* LinkedIn */
            &.linkedin {
                background-image: url(../../assets/img/Icons-social-media/linkedin-grey.svg);

                &:hover {
                    background-image: url(../../assets/img/Icons-social-media/linkedin.svg);  
                }
            }

            /* Whats App */
            &.whatsapp {
                background-image: url(../../assets/img/Icons-social-media/whatsapp-grey.svg);

                &:hover {
                    background-image: url(../../assets/img/Icons-social-media/whatsapp.svg);  
                }
            }
        }
    }

    /* V I S U A L   S P A T I A L */
    &__vs {

        display: flex;
        display: flex;
        justify-content: left;
        /* align horizontal */
        align-items: center;
        /* align vertical */
        height: 100%;



        .title-vs {
            @include titleLi;
            font-size: 5.5rem;
            margin-bottom: 3rem;
            color: $color-grey-dark;
            @include transitions;

            

            &.active{
                color: $color-secondary;
                font-size: 8rem;
            }

            /* Large Desktop */
            @include respond(large-desktop) {
                font-size: 4.5rem;

                &.active {
                    font-size: 7rem;
                }
            }
        }

        .vs-acc {
            min-width: 40vw;
            margin-left: 5vw;
            
            text-align: left;
            //border-bottom: 1px solid $color-secondary;
            margin-bottom: 3rem;
            overflow: hidden !important;
            height: auto;

            @include respond(large-desktop) {
                margin-bottom: 0rem;
            }
        }

        .tab {

            &-container {
                //margin-left: 10vw;
                display: grid;
                grid-template-columns: 1fr;
                overflow: hidden;
                width: 40vw;
                padding-top: 4rem;

                /* Large Desktop */
                @include respond(large-desktop) {
                    padding-top: 0;
                }
            }


        
            &-details {
                overflow: hidden;
                max-width: 50vw;
                right: 0;

                p {
                    font-size: 2rem;
                }

                margin-bottom: 3rem;

                /* Large Desktop */
                @include respond(large-desktop) {
                    p {
                        font-size: 1.5rem;
                        line-height: 2rem;
                        
                    }  
                    
                    margin-bottom: 2rem;
                }
            }
        }

        .action-btn {
            color: $color-primary;
            text-decoration: none;
            font-size: 2.3rem;
            font-weight: bolder;
            font-family: 'Avenir Roman', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;

            margin-top: 2rem;
            @include transitions;


            &:hover {
                background-color: $color-primary;
                color: $color-tertiary;
            }

            /* Large Desktop */
            @include respond(large-desktop) {
                font-size: 1.5rem;
            }
        }

        .accordion-cover {
            position: fixed;
            right: 0;
            bottom: 6rem;
            z-index: 700;
            width: 50vw;

            h3 {
                position: fixed;
                height: 95vh;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 50vw;
                transform: translate(0,-95%);
                color: $color-tertiary;
                @include titleLi;
                color: $color-tertiary;
            }
        }

    }

    &-vs-link {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include iconSize;
        position: fixed;
        bottom: 0;
        right: 52vw;

        a {
            @include iconSize;
            text-decoration: none;
            background-color: $color-secondary;
            cursor: pointer;
            @include transitions;

            &:hover {
                background-color: $color-primary;
            }
        }
    }
}

