.services {
    background-color: $color-tertiary;
    height: 100%;


    &__li {

        display: flex;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        height: 100%;


        .title-li {
            @include titleLi;
        }

        .li-acc{
            min-width: 90vw;
            text-align: left;            
            border-bottom: 1px solid $color-secondary;
            margin-bottom: 3rem;
            overflow: hidden !important;
            height: auto;

            &:last-child {
                border-bottom: 0px solid transparent;  
            }
        }

        .tab {

            &-container {
                margin-left: 10vw;
                display: grid;
                grid-template-columns: 1fr 3fr;
                overflow: hidden;
            }
            

            &-links {
                a {
                    color: $color-secondary;
                    font-family: 'Avenir Roman', sans-serif;
                    font-size: 2.5rem;
                    font-weight: 600;
    
                    &.active {
                        color: $color-primary;
                    }
                }
            }

            &-details {
                overflow: hidden;
                max-width: 50vw;
                right: 0;
                p {
                    font-size: 2.5rem;
                }

                margin-bottom: 3rem;
            }
        }

        .action-btn {
            color: $color-primary;
            text-decoration: underline;
            font-size: 2rem;
            font-weight: bolder;
            font-family: 'Avenir Roman', sans-serif;
            float: right;

            margin-top: 1rem;
            @include transitions;


            &:hover {
                background-color: $color-primary;
                color: $color-tertiary;
            }
        }


    }

    &__na {

    }



    &-li-link {
        //position: fixed;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        position: fixed;
        right: 5vw;
        bottom: 10rem;
        
        a {
            @include socialLinkLi;
            min-width: 18rem;
        }
    }
}


.fade.ng-hide {
    opacity: 0;
  }
  
  .fade.ng-hide-remove,
  .fade.ng-hide-add {
    display: block !important; /* or inline-block, as appropriate */
  }
  
  .fade.ng-hide-remove {
    transition: all ease 1000ms;
  }
  
  .fade.ng-hide-add {
    transition: all ease 1000ms;
    height: 0;
}
  