<p class="pageTitle">
  <span> < S E R V I C E<span class="red-letter"> S </span>/ ></span>
</p>
<div class="services__li">
  <div class="services__li-content" ng-init="accordion=1">
    <div class="li-acc">
      <h3 class="accordion" ng-class="{active:accordion==1}">
        <a class="title-li" ng-click="accordion = 1">• consulting</a>
      </h3>
      <div class="accordion-content fade" ng-show="accordion==1">
        <div class="tab-container" ng-init="servicesC=1">
          <div class="tab-links">
            <h3 ng-class="{active:servicesC==1}">
              <a ng-class="{active:servicesC==1}" ng-click="servicesC = 1"
                >º IT BUSINESS</a
              >
            </h3>

            <h3 ng-class="{active:servicesC==2}">
              <a ng-class="{active:servicesC==2}" ng-click="servicesC = 2"
                >º LIFE COACHING</a
              >
            </h3>
          </div>

          <div class="tab-details">
            <div class="servicesC-content fade" ng-show="servicesC==1">
              <div style="overflow: hidden;">
                <p>
                  Begin Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit
                </p>
                <a class="action-btn">SHEDULE</a>
              </div>
            </div>

            <div class="servicesC-content fade" ng-show="servicesC==2">
              <div style="overflow: hidden;">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur.
                </p>
                <a class="action-btn">SHEDULE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="li-acc">
      <h3 class="accordion" ng-class="{active:accordion==2}">
        <a class="title-li" ng-click="accordion = 2">• web development</a>
      </h3>
      <div class="accordion-content fade" ng-show="accordion==2">
        <div class="tab-container" ng-init="servicesW=1">
          <div class="tab-links">
            <h3 ng-class="{active:servicesW==1}">
              <a ng-class="{active:servicesW==1}" ng-click="servicesW = 1"
                >º PERSONALIZE</a
              >
            </h3>

            <h3 ng-class="{active:servicesW==2}">
              <a ng-class="{active:servicesW==2}" ng-click="servicesW = 2"
                >º WEB COMPANY</a
              >
            </h3>

            <h3 ng-class="{active:servicesW==3}">
              <a ng-class="{active:servicesW==3}" ng-click="servicesW = 3"
                >º E-COMMERCER</a
              >
            </h3>

            <h3 ng-class="{active:servicesW==4}">
              <a ng-class="{active:servicesW==4}" ng-click="servicesW = 4"
                >º CRM</a
              >
            </h3>
          </div>

          <div class="tab-details">
            <div class="servicesC-content fade" ng-show="servicesW==1">
              <div style="overflow: hidden;">
                <p>
                  PERSONALIZE Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit
                </p>
                <a class="action-btn">CONTACT</a>
              </div>
            </div>

            <div class="servicesC-content fade" ng-show="servicesW==2">
              <div style="overflow: hidden;">
                <p>
                  WEB COMPANY Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit
                </p>
                <a class="action-btn">CONTACT</a>
              </div>
            </div>

            <div class="servicesC-content fade" ng-show="servicesW==3">
              <div style="overflow: hidden;">
                <p>
                  E-COMMERCE Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit
                </p>
                <a class="action-btn">CONTACT</a>
              </div>
            </div>

            <div class="servicesC-content fade" ng-show="servicesW==4">
              <div style="overflow: hidden;">
                <p>
                  CRM Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur.
                </p>
                <a class="action-btn">CONTACT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="li-acc">
      <h3 class="accordion" ng-class="{active:accordion==3}">
        <a class="title-li" ng-click="accordion = 3">• mobile development</a>
      </h3>
      <div class="accordion-content fade" ng-show="accordion==3">
        <div class="tab-container" ng-init="servicesM=1">
          <div class="tab-links">
            <h3 ng-class="{active:servicesM==1}">
              <a ng-class="{active:servicesM==1}" ng-click="servicesM = 1"
                >º IOS NATIVE APP</a
              >
            </h3>

            <h3 ng-class="{active:servicesM==2}">
              <a ng-class="{active:servicesM==2}" ng-click="servicesM = 2"
                >º REACT NATIVE</a
              >
            </h3>
          </div>

          <div class="tab-details">
            <div class="servicesC-content fade" ng-show="servicesM==1">
              <div style="overflow: hidden;">
                <p>
                  Begin Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit
                </p>
                <a class="action-btn">CONTACT</a>
              </div>
            </div>

            <div class="servicesC-content fade" ng-show="servicesM==2">
              <div style="overflow: hidden;">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur.
                </p>
                <a class="action-btn">CONTACT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
