<p class="pageTitle">
    <span> < S E R V I C E<span class="red-letter"> S </span>/ ></span>
  </p>
  
  <div class="services__na" ng-init="services=1">
    <!-- Tab Links-->
    <div class="tab-links">
      <h3 ng-class="{active:services==1}">
        <!--  h3 -->
        <a ng-class="{active:services==1}" ng-click="services = 1"><span class="normal">C</span><span class="hover">ONSULTANCY</span></a>
      </h3>
      <!--  ./h3 -->
  
      <h3 ng-class="{active:services==2}">
        <!--  h3 -->
        <a ng-class="{active:services==2}" ng-click="services = 2"><span class="normal">W</span><span class="hover">EB</span></a>
      </h3>
      <!--  ./h3 -->
  
      <h3 ng-class="{active:services==3}">
        <a ng-class="{active:services==3}" ng-click="services = 3"><span class="normal">M</span><span class="hover">OBILE</span></a>
      </h3>
      <!--  ./h3 -->
    </div>
    <!-- ./Tab Links-->
  
    <!-- Tabs Details -->
    <div class="tab-details">
      <div class="services-details fade" ng-show="services==1">
        <!-- project-details -->
        <div class="services-title">
          <img src="assets/img/services/c-na.png" alt="Consultancy">
          <!-- project-title -->
          <h3>CONSULTANCY</h3>
        </div>
        <!-- ./project-title -->
        <div class="services-content" style="overflow: hidden;">
          <!-- project-content -->
          <div class="tab-container" ng-init="servicesC=1">
              <div class="tab-link"> <!-- tab-links -->
              
                  <h3 ng-class="{active:servicesC==1}"> <!-- h3 -->
                  <a ng-class="{active:servicesC==1}" ng-click="servicesC = 1"
                    >IT BUSINESS</a
                  > <!-- ./h3 -->
                
                
                  <h3 ng-class="{active:servicesC==2}"> <!-- h3 -->
                    <a ng-class="{active:servicesC==2}" ng-click="servicesC = 2"
                      >LIFE COACHING</a
                    >
                  </h3> <!-- ./h3 -->
                
              </div> <!-- ./tab-links -->

              <div class="tab-details"> <!-- tab-details -->
                <div class="servicesC-content" ng-show="servicesC==1"> <!-- servicesC-content -->
                  <div style="overflow: hidden;">
                    <p>
                        Yesterday is gone for good! Today we live in a world full 
                        of tools and opportunities that brings us an unlimited 
                        path to connect with our clients and more importantly, 
                        our workers. I focus this consultancy on three main areas: 
                        production, logistics, and sales. My goal is to give you 
                        as a businessman the most efficient method for your company 
                        to increase your profits and productivity.
                    </p>
                    <a target="_blank" href="https://my.setmore.com/bookingpage/cffabdaf-f5c4-48d6-832d-92ae5a0907ff" class="action-btn">SCHEDULE</a>
                  </div>
                </div> <!-- ./servicesC-content -->
    
                <div class="servicesC-content" ng-show="servicesC==2"> <!-- servicesC-content -->
                  <div style="overflow: hidden;">
                    <p>
                        Everybody can have a bad day but... an entire life is not an option. 
                        I know, the impotence makes you believe you can’t overcome this situation. 
                        Love, money, success these traitors that make us drown in a puddle. 
                        Our life directly results from our habits. During the next hour, we will 
                        find out which ones are keeping you from becoming the best version of 
                        yourself, or at least, a better one than today. 
                    </p>
                    <a target="_blank" href="https://my.setmore.com/bookingpage/cffabdaf-f5c4-48d6-832d-92ae5a0907ff" class="action-btn">SCHEDULE</a>
                  </div>
                </div> <!-- ./servicesC-content -->
              </div> <!-- ./tab-details -->
          </div>        
        </div>
        <!-- ./project-content -->
      </div>
      <!-- ./project-details -->
  
      <div class="services-details fade" ng-show="services==2">
        <!-- project-details -->
        <div class="services-title">
          <img src="assets/img/services/w-na.png" alt="Web development">
          <!-- project-title -->
          <h3>WEB DEVELOPMENT</h3>
        </div>
        <!-- ./project-title -->
        <div class="services-content" style="overflow: hidden;">
          <!-- project-content -->
          <div class="tab-container" ng-init="servicesW=1"> <!-- tab-container -->
            <div class="tab-link"> <!-- tab-links -->
              <h3 ng-class="{active:servicesW==1}"> <!-- h3 -->
                <a ng-class="{active:servicesW==1}" ng-click="servicesW = 1"
                  >PERSONALIZE</a
                >
              </h3> <!-- ./h3 -->
  
              <h3 ng-class="{active:servicesW==2}"> <!-- h3 -->
                <a ng-class="{active:servicesW==2}" ng-click="servicesW = 2"
                  >WEB COMPANY</a
                >
              </h3> <!-- ./h3 -->
  
              <h3 ng-class="{active:servicesW==3}"> <!-- h3 -->
                <a ng-class="{active:servicesW==3}" ng-click="servicesW = 3"
                  >E-COMMERCE</a
                >
              </h3> <!-- ./h3 -->
            </div> <!-- ./tab-links -->
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="servicesC-content" ng-show="servicesW==1"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      Here are no limits. I’m in total commitment to your 
                      company and no matter what it takes. We will work hand 
                      to hand to create a unique project.  A full custom 
                      website made to your need.  
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn">CONTACT</a>
                </div>
              </div> <!-- ./servicesC-content -->
  
              <div class="servicesC-content" ng-show="servicesW==2"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      A bridge between you and your clients. This is a fully 
                      responsive and manageable website powered by WordPress 
                      where you can show your portfolio, services, and give a 
                      direct way to contact you.
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn">CONTACT</a>
                </div>
              </div> <!-- ./servicesC-content -->
  
              <div class="servicesC-content" ng-show="servicesW==3"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      Have a local store is a good start, but you know why to 
                      limit your products to the people around the area. If you sell 
                      something worth it let become the entire world into your clients. 
                      I will build a whole, simple and efficient sales system for your 
                      products.<br><br>
                      So, let’s become your local store into a worldwide one! 
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn">CONTACT</a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div>
        <!-- ./project-content -->
      </div>
      <!-- ./project-details -->
  
      <div class="services-details fade" ng-show="services==3">
        <!-- project-details -->
        <div class="services-title">
          <img src="assets/img/services/m-na.png" alt="Mobile development">
          <!-- project-title -->
          <h3>MOBILE DEVELOPMENT</h3>
        </div>
        <!-- ./project-title -->
        <div class="services-content" style="overflow: hidden;">
            <div class="tab-container" ng-init="servicesM=1"> <!-- tab-container -->
              <div class="tab-link"> <!-- tab-links -->
                <h3 ng-class="{active:servicesM==1}"> <!-- h3 -->
                  <a ng-class="{active:servicesM==1}" ng-click="servicesM = 1"
                    >IOS NATIVE APP</a
                  >
                </h3> <!-- ./h3 -->
    
                <h3 ng-class="{active:servicesM==2}"> <!-- h3 -->
                  <a ng-class="{active:servicesM==2}" ng-click="servicesM = 2"
                    >REACT NATIVE</a
                  >
                </h3> <!-- ./h3 -->
              </div> <!-- ./tab-links -->
    
              <div class="tab-details"> <!-- tab-details -->
                <div class="servicesC-content" ng-show="servicesM==1"> <!-- servicesC-content -->
                  <div style="overflow: hidden;">
                    <p>
                        A native app has greater performance than a hybrid one and, 
                        that is exactly what I bring you with this product, the best 
                        quality available on the market. These projects are exclusive 
                        to iPhone and iPad devices.
                    </p>
                    <a href="mailto:development@leonardogrinn.com" class="action-btn">CONTACT</a>
                  </div>
                </div> <!-- ./servicesC-content -->
    
                <div class="servicesC-content" ng-show="servicesM==2"> <!-- servicesC-content -->
                  <div style="overflow: hidden;">
                    <p>
                        React Native framework is a great alternative for native projects 
                        and the best part is that you need not choose between Android or 
                        Apple devices, you can have both!  So if you are interested in have 
                        a multiple platform app this is your product. 
                    </p>
                    <a href="mailto:development@leonardogrinn.com" class="action-btn">CONTACT</a>
                  </div>
                </div> <!-- ./servicesC-content -->
              </div> <!-- ./tab-details -->
            </div> <!-- ./tab-container -->
        </div>
        <!-- ./project-content -->
      </div>
      <!-- ./project-details -->
    </div>
    <!-- ./Tabs Details -->
  </div>
  
  
  <div class="services-na-link"> <!-- portafolio-na-link -->
      <a class="icon-social linkedin-icon" href="https://www.linkedin.com/in/leonardogrinn/?locale=en_US" target="_blank"></a>
      <a class="icon-social whatsapp-icon" href="https://api.whatsapp.com/send?phone=5213329197057" target="_blank"></a>
      <a class="icon-social skype-icon" href="skype:leosolutio?call"></a>
      <a class="icon-social mail-icon" href="mailto:iam@leonardogrinn.com"></a>
  </div> <!-- ./portafolio-na-link -->

