<div class="topBar"></div> 

<p class="pageTitle pageTitle-resposive">
    <span> < S E R V I C E<span class="red-letter"> S </span>/ ></span>
  </p>
  <div class="services__vs">
    <!-- Services li -->
    <div class="services__vs-content" ng-init="accordion=1">
      <!-- li-content -->
      <div class="vs-acc">
        <!-- li-acc -->
        <h3 class="accordion" ng-class="{active:accordion==1}">
          <!-- Accordion -->
          <a class="title-vs" ng-class="{active:accordion==1}" ng-click="accordion = 1">consultancy</a>
        </h3>
        <!-- ./Accordion -->
        <div class="accordion-content fade" ng-show="accordion==1"> <!-- accordion-content -->
          <div class="tab-container" ng-init="servicesC=1"> <!-- tab-container -->
            <div class="accordion-cover"><img src="assets/img/services/c-na.png" alt=""></div>
            <div class="tab-links"> <!-- tab-links -->
              <h3 ng-class="{active:servicesC==1}"> <!-- h3 -->
                <a ng-class="{active:servicesC==1}" ng-click="servicesC = 1"
                  >º IT BUSINESS</a
                > <!-- ./h3 -->
  
              <h3 ng-class="{active:servicesC==2}"> <!-- h3 -->
                <a ng-class="{active:servicesC==2}" ng-click="servicesC = 2"
                  >º LIFE COACHING</a
                >
              </h3> <!-- ./h3 -->
            </div> <!-- ./tab-links -->
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="servicesC-content" ng-show="servicesC==1"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                    Yesterday is gone for good! Today we live in a world full 
                    of tools and opportunities that brings us an unlimited 
                    path to connect with our clients and more importantly, 
                    our workers. I focus this consultancy on three main areas: 
                    production, logistics, and sales. My goal is to give you 
                    as a businessman the most efficient method for your company 
                    to increase your profits and productivity. 
                  </p>
                  <a target="_blank" href="https://my.setmore.com/bookingpage/cffabdaf-f5c4-48d6-832d-92ae5a0907ff" class="action-btn"><span>–––––––––––––––––––––– </span> SCHEDULE <span> ––––––––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
  
              <div class="servicesC-content" ng-show="servicesC==2"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      Everybody can have a bad day but... an entire life is not an option. 
                      I know, the impotence makes you believe you can’t overcome this situation. 
                      Love, money, success these traitors that make us drown in a puddle. 
                      Our life directly results from our habits. During the next hour, we will 
                      find out which ones are keeping you from becoming the best version of 
                      yourself, or at least, a better one than today. 
                  </p>
                  <a target="_blank" href="https://my.setmore.com/bookingpage/cffabdaf-f5c4-48d6-832d-92ae5a0907ff" class="action-btn"><span>–––––––––––––––––––––– </span> SCHEDULE <span> ––––––––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div> <!-- ./accordion-content -->
      </div>
      <!-- ./li-acc -->
  
      <div class="vs-acc"> <!-- li-acc -->
        <h3 class="accordion" ng-class="{active:accordion==2}"> <!-- accordion -->
          <a class="title-vs" ng-class="{active:accordion==2}" ng-click="accordion = 2">web development</a>
        </h3> <!-- ./accordion -->
        <div class="accordion-content fade" ng-show="accordion==2"> <!-- accordion-content -->
            
          <div class="tab-container" ng-init="servicesW=1"> <!-- tab-container -->
            <div class="accordion-cover"><img src="assets/img/services/w-vs.png" alt=""></div>
            <div class="tab-links"> <!-- tab-links -->
              <h3 ng-class="{active:servicesW==1}"> <!-- h3 -->
                <a ng-class="{active:servicesW==1}" ng-click="servicesW = 1"
                  >º PERSONALIZE</a
                >
              </h3> <!-- ./h3 -->
  
              <h3 ng-class="{active:servicesW==2}"> <!-- h3 -->
                <a ng-class="{active:servicesW==2}" ng-click="servicesW = 2"
                  >º WEB COMPANY</a
                >
              </h3> <!-- ./h3 -->
  
              <h3 ng-class="{active:servicesW==3}"> <!-- h3 -->
                <a ng-class="{active:servicesW==3}" ng-click="servicesW = 3"
                  >º E-COMMERCE</a
                >
              </h3> <!-- ./h3 -->
            </div> <!-- ./tab-links -->
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="servicesC-content" ng-show="servicesW==1"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      Here are no limits. I’m in total commitment to your 
                      company and no matter what it takes. We will work hand 
                      to hand to create a unique project.  A full custom 
                      website made to your need.  
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn"><span>–––––––––––––––––––––– </span> CONTACT <span> ––––––––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
  
              <div class="servicesC-content" ng-show="servicesW==2"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      A bridge between you and your clients. This is a fully 
                      responsive and manageable website powered by WordPress 
                      where you can show your portfolio, services, and give a 
                      direct way to contact you.   
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn"><span>–––––––––––––––––––––– </span> CONTACT <span> ––––––––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
  
              <div class="servicesC-content" ng-show="servicesW==3"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      Have a local store is a good start, but you know why to 
                      limit your products to the people around the area. If you sell 
                      something worth it let become the entire world into your clients. 
                      I will build a whole, simple and efficient sales system for your 
                      products.<br><br>
                      So, let’s become your local store into a worldwide one! 
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn"><span>–––––––––––––––––––––– </span> CONTACT <span> ––––––––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div> <!-- ./accordion-content -->
      </div> <!-- ./li-acc -->
  
      <div class="vs-acc"> <!-- li-acc -->
        <h3 class="accordion" ng-class="{active:accordion==3}"> <!-- accordion -->
          <a class="title-vs" ng-class="{active:accordion==3}" ng-click="accordion = 3">mobile development</a>
        </h3> <!-- ./accordion -->
        <div class="accordion-content fade" ng-show="accordion==3"> <!-- accordion-content -->
          <div class="tab-container" ng-init="servicesM=1"> <!-- tab-container -->
            <div class="accordion-cover"><img src="assets/img/services/m-na.png" alt=""></div>
            <div class="tab-links"> <!-- tab-links -->
              <h3 ng-class="{active:servicesM==1}"> <!-- h3 -->
                <a ng-class="{active:servicesM==1}" ng-click="servicesM = 1"
                  >º IOS NATIVE APP</a
                >
              </h3> <!-- ./h3 -->
  
              <h3 ng-class="{active:servicesM==2}"> <!-- h3 -->
                <a ng-class="{active:servicesM==2}" ng-click="servicesM = 2"
                  >º REACT NATIVE</a
                >
              </h3> <!-- ./h3 -->
            </div> <!-- ./tab-links -->
  
            <div class="tab-details"> <!-- tab-details -->
              <div class="servicesC-content" ng-show="servicesM==1"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      A native app has greater performance than a hybrid one and, 
                      that is exactly what I bring you with this product, the best 
                      quality available on the market. These projects are exclusive 
                      to iPhone and iPad devices.
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn"><span>–––––––––––––––––––––– </span> CONTACT <span> ––––––––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
  
              <div class="servicesC-content" ng-show="servicesM==2"> <!-- servicesC-content -->
                <div style="overflow: hidden;">
                  <p>
                      React Native framework is a great alternative for native projects 
                      and the best part is that you need not choose between Android or 
                      Apple devices, you can have both!  So if you are interested in have 
                      a multiple platform app this is your product. 
                  </p>
                  <a href="mailto:development@leonardogrinn.com" class="action-btn"><span>–––––––––––––––––––––– </span> CONTACT <span> ––––––––––––––––––––––</span></a>
                </div>
              </div> <!-- ./servicesC-content -->
            </div> <!-- ./tab-details -->
          </div> <!-- ./tab-container -->
        </div> <!-- ./accordion-content -->
      </div> <!-- ./li-acc -->
    </div>
    <!-- ./li-content -->
  </div>
  <!-- ./Services li -->
  
  <div class="services-vs-link"> <!-- portafolio-na-link -->
    <a class="icon-social linkedin-icon" href="https://www.linkedin.com/in/leonardogrinn/?locale=en_US" target="_blank"></a>
    <a class="icon-social whatsapp-icon" href="https://api.whatsapp.com/send?phone=5213329197057" target="_blank"></a>
    <a class="icon-social skype-icon" href="skype:leosolutio?call"></a>
    <a class="icon-social mail-icon" href="mailto:iam@leonardogrinn.com"></a>
</div> <!-- ./portafolio-na-link -->